{% extends 'layout.html' %}
{% block content %}
    <div class="input-group-append">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
{% endblock content %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Dictionary</title>
</head>
<body>
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="input-group mb-3">
                    {{ form.search(class="form-control form-control-lg") }}
                <div class="input-group-append">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
        </fieldset>
    </form>
</body>
</html> -->